.nav-link {
  color: black;
}

#tag1 {
  background: #0d28a6;
  border-radius: 13px;
  padding: 16px;
  margin-top: 34px;
}

#tag1 h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

#tag1 p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

#tag1 button {
  background: #5cb85f;
  border-radius: 2px;
  margin-top: 24px;
}

#tag2 {
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 16px;
  margin-right: 30px;
  margin-left: 50px;
  margin-top: 20px;
}

#tag2 h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-top: 14px;
}

#tag3 {
  margin-left: 60px;
}

#tag4 {
  margin-top: 64px;
}

#tag5 {
  margin-top: 32px;
  line-height: 40px;
}

#tag6 {
  margin-top: 32px;
}

#tag7 {
  margin-top: 32px;
}

#tag8 {
  border-radius: 8px;
  margin-top: 40px;
  padding-top: 10px;
  padding-left: 180px;
  padding-right: 40px;
  padding-bottom: 30px;
  background: #f1f3ff;
}

#tag9 {
  border: none;
}

#tag10 {
  margin-left: 40px;
}

#tag11 {
  margin-top: 55px;
}

#tag12 {
  margin-top: 40px;
  margin-left: 64px;
}

#tag13 {
  color: #5cb85f;
  border-radius: 100%;
  margin-top: 30px;
  justify-content: center;
  padding-left: 45%;
}
